{{$b := .}}
{{if eq .Type "form"}}
<table>
	{{range .FieldVals}}<tr><th>{{.F}}</th><td>{{.V}}</td></tr>{{end}}
</table>
{{else}}
<table>
	<tr>{{range .Cols}}<th>{{.}}</th>{{end}}{{if not .Readonly}}<th></th>{{end}}</tr>
	{{range .Rows}}
	{{$r := .}}
	<tr>
		{{range $i, $c := $b.Cols}}<td{{if eq $i 0}} style="padding-left:{{$r.Depth}}em"{{end}}>{{if eq $c "id"}}{{short (index $r.Row $c)}}{{else}}{{index $r.Row $c}}{{end}}</td>{{end}}
		{{if not $b.Readonly}}<td><button hx-get="/t/{{$b.Table}}/{{index $r.Row "id"}}/edit" hx-target="#main">edit</button></td>{{end}}
	</tr>
	{{end}}
</table>
{{end}}
